@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply box-border font-sans scrollbar-thin scrollbar-thumb-accent;
  }
}
@layer components {
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-end {
    @apply flex items-end justify-center;
  }
  .before-position-init {
    @apply before:absolute before:left-0 before:right-0 before:top-0 before:bottom-0;
  }
  .after-position-init {
    @apply after:absolute after:left-0 after:right-0 after:top-0 after:bottom-0;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }
  .animation-delay-75 {
    animation-delay: 0.1s;
  }
  .animation-delay-100 {
    animation-delay: 0.2s;
  }
  .animation-delay-150 {
    animation-delay: 0.3s;
  }
  .animation-delay-200 {
    animation-delay: 0.4s;
  }
}

:root {
  --swiper-theme-color: #000;
  --swiper-navigation-size: 1.5rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[class^="ant-col"],
[class*=" ant-col"] {
  font-family: Noto Sans TC;
}

.ant-form-item .ant-form-item-label > label {
  font-size: 1rem;
  font-weight: 700;
}

.ant-input:hover {
  border-color: #6e7d00;
}
.ant-input:focus {
  border-color: #6e7d00;
}
.ant-btn-primary:not(:disabled):hover {
  background-color: #ffb423;
}
